@import "../styles/base-units";
@import "../styles/colors";

.loadingSpinner {
	margin: $base-unit * 1.5;

	display: inline-block;
	position: relative;

	&Small {
		width: $base-unit * 1;
		height: $base-unit * 1;
	}

	&Medium {
		width: 1.5rem;
		height: 1.5rem;
	}

	&Large {
		width: 1.5rem;
		height: 1.5rem;
	}

	div {
		position: absolute;
		border-style: solid;
		border-image: initial;
		border-radius: 50%;
		border-color: $color-darker transparent transparent;
		animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) 0s infinite normal none running;

		&:nth-child(1) {
			animation-delay: -0.45s;
		}

		&:nth-child(2) {
			animation-delay: -0.3s;
		}

		&:nth-child(3) {
			animation-delay: -0.15s;

		}
	}

}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}